@font-face {
    font-family: pokemonHollow;
    src: url(pokemonHollow.ttf);
}

@font-face {
    font-family: pokemonSolid;
    src: url(pokemonSolid.ttf);
}

body {
    background-color: rgb(237, 243, 147);
}

#banner {
    font-family: pokemonSolid;
    font-size: 24px;
    color: blue;
    text-align: center;
}

#gameBoard {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#buttonsDiv {
    width:100%;
    float: left;
    text-align: center;
    clear:both;
    padding-top:20px;
}

#resultsText {
    font-family: pokemonSolid;
    font-size: 24px;
    color: red;
}

#cash {
    font-family: pokemonSolid;
    font-size: 24px;
    color: black;
}

.slot {
    width: 19%;
    display: inline-block;
    border: 1px solid black;
    background-color: #e6e6e6;
}

.slotImg {
    width: 300px;
    height: 300px;
    max-width: 100%;
}

/* 
Pokemon Ball button style
*/

.pokeButton{
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 8.82px;
    width:200px;
    font-size: 20px;
    color: #0514E6;
    font-family:  "pokemonSolid", cursive;
    background: linear-gradient(to bottom, #FFFFFF, #FF0000);
    border: solid #7CAFFF 1px;
    border-radius: 5px;
    padding:10px;
    text-shadow: 0px 1px 2px #000000;
    box-shadow: 0px 1px 5px #0D2444;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}
.pokeButton:hover{
    font-weight: normal;
    font-style: italic;
    opacity: 0.9;
    background: linear-gradient(to bottom, #FF0000, #FFFFFF);
    box-shadow: 0px 1px 2px #000000;
}
